import org.springframework.stereotype.Repository;
@Repository
public class Easier{{ variables.model_name }}Repository extends AbstractEasierDefaultMappingRepository<{{ variables.record_prefix }}{{ variables.model_name }}Record, {{ variables.model_name }}> {

}
